%form{ :method => 'post', :action => '/comments/new', :class => 'new_comment' }
	%input{ :type => 'hidden', :name => 'article_id', :value => @article.id }
	%p.name
		%label{ :for => 'name' } Name:
		%br
		%input{ :type => 'text', :name => 'name', :id => 'name' }
	%p.url
		%label{ :for => 'url' } Url (optional):
		%br
		%input{ :type => 'text', :name => 'url', :id => 'url' }
	%p.email
		%label{ :for => 'email' } Email:
		%br
		%input{ :type => 'text', :name => 'email', :id => 'email' }
	%p.antispam
		%label{ :for => 'antispam' } Enter your email address again:
		%br
		%input{ :type => 'text', :name => 'antispam', :id => 'antispam' }
	%p
		%label{ :for => 'body' }
			Comment (you can use
			%a{ :href => "http://daringfireball.net/projects/markdown/", :title => "Markdown", :target => "_blank" } Markdown
			):
		%br
		%textarea{ :name => 'body', :id => 'body', :rows => 15, :cols => 88 }
	%p
		%input{ :type => 'submit', :value => 'Add comment', :class => 'submit' }
