%form{ :method => 'post', :action => '/comments/new#new_comment', :class => 'new_comment', :id => 'new_comment' }
	%input{ :type => 'hidden', :name => 'article_id', :value => @article.id }

	- if @comment.errors.length > 0
		%ul{:class => 'errors'}
			- @comment.errors.each do |error|
				%li= error


	%p.name
		%label{ :for => 'name' } Name:
		%br
		%input{ :type => 'text', :name => 'name', :id => 'name' , :value => @comment.name}
	%p.url
		%label{ :for => 'url' } Url (optional):
		%br
		%input{ :type => 'text', :name => 'url', :id => 'url', :value => @comment.url }
	%p.email
		%label{ :for => 'email' } Email:
		%br
		%input{ :type => 'text', :name => 'email', :id => 'email' , :value => @comment.email}
	%p.antispam
		%label{ :for => 'antispam' } Enter your email address again:
		%br
		%input{ :type => 'text', :name => 'antispam', :id => 'antispam', :value => @comment.antispam }
	%p
		%label{ :for => 'body' }
			Comment:
		%br
		%textarea{ :name => 'body', :id => 'body', :rows => 15, :cols => 88 }= @comment.body
		%br
		You can use
		%a{ :href => "http://daringfireball.net/projects/markdown/", :title => "Markdown", :target => "_blank" } Markdown
	%p
		%input{ :type => 'submit', :value => 'Add comment', :class => 'submit' }
