- @body_class = 'index'

- if @articles && @articles.length > 0
	/ %h3.articles Archive
	%ul#articles
		- @articles.each do |article|
			%li
				%div#article
					%div.head
						%span.date= (article.published_at ? article.published_at.strftime("%b %d, %Y") : "DRAFT")
						%h2.title
							%a{:href => "/articles/#{article.url}"}= article.title
					%p.intro= article.introduction

