!!! Strict
%html
	%head
		%title= @title ? @title : "Jordi Romero"
		%link{:href => '/stylesheets/base.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
		%link{:href => '/stylesheets/code.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
		- if logged_in?
			%link{:href => '/stylesheets/admin.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
	%body{ :class => @body_class }
		%div#content
			%h1#header
				%a{:href => '/'} Jordi Romero
			= yield
			- if logged_in?
				%div#admin
					%ul
						%li
							%a{:href => '/'} Home
						%li
							%a{:href => '/articles/drafts'} Drafts
						%li
							%a{:href => '/articles/new'} New article
						%li
							%a{:href => '/logout'} Logout

	%script{:src=>"/javascripts/jquery.js", :type=>"text/javascript"}
	%script{:src=>"/javascripts/highlight.pack.js", :type=>"text/javascript"}
	%script{:type => "text/javascript"}
		hljs.initHighlightingOnLoad();
		// CSS grid
		$(function() {
		if (window.location.toString().match(/\?grid$/)) $("#content").addClass("showgrid");
		})
