!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
		%title= @title ? @title : "Jordi Romero"
		%link{:href => versioned_stylesheet('production'), :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
	%body{ :class => @body_class }
		%div#content
			#header
				%h1
					%a{:href => '/', :title => 'Jordi Romero' } Jordi Romero
				%a.about{ :href => '/about', :title => 'About Jordi Romero' } About
			= yield
			- if logged_in?
				%div#admin
					%ul
						%li
							%a{:href => '/'} Home
						%li
							%a{:href => '/articles/drafts'} Drafts
						%li
							%a{:href => '/articles/new'} New article
						- if @article && @article.id
							%li
								%a{:href => "/articles/#{@article.url}/edit"} Edit this article
						%li
							%a{:href => '/logout'} Logout

		%script{:src=> versioned_javascript("highlight.pack"), :type=>"text/javascript"}
		:javascript
			hljs.initHighlightingOnLoad();
	/
		environment:
		=Sinatra::Application.environment
