!!! Strict
%html
	%head
		%title= @title ? @title : "Jordi Romero"
		%link{:href => versioned_stylesheet('production'), :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
	%body{ :class => @body_class }
		%div#content
			#header
				%h1
					%a{:href => '/', :title => 'Jordi Romero' } Jordi Romero
				%a.about{ :href => '/about', :title => 'About Jordi Romero' } About
			= yield
			- if logged_in?
				%div#admin
					%ul
						%li
							%a{:href => '/'} Home
						%li
							%a{:href => '/articles/drafts'} Drafts
						%li
							%a{:href => '/articles/new'} New article
						%li
							%a{:href => '/logout'} Logout

	%script{:src=> versioned_javascript("highlight.pack"), :type=>"text/javascript"}
	%script{:type => "text/javascript"}
		hljs.initHighlightingOnLoad();
/
	environment:
	=Sinatra::Application.environment
