- if @article.errors.length > 0
	%ul{:class => 'errors'}
		- @article.errors.each do |error|
			%li= error
- if @article.new?
	%p
		%label{:for => 'url'}URL:
		%br
		%input{:type => 'text', :name => 'url', :id => 'url', :value => @article.url}
%p
	%label{:for => 'title'}Title:
	%br
	%input{:type => 'text', :name => 'title', :id => 'title', :size => 50, :value => @article.title}
%p
	%label{:for => 'introduction'}Introduction:
	%br
	%textarea{:name => 'introduction', :id => 'introduction', :cols => 88}~  @article.introduction
%p
	%label{:for => 'body'}Body:
	%br
	%textarea{:name => 'body', :id => 'body', :rows => 15, :cols => 88}~ @article.body
%p
	%label{:for => 'published'}Status:
	%select{:name => 'published', :id => 'published'}
		%option{:value => 0, :selected => @article.published_at.nil?} Unpublished
		%option{:value => 1, :selected => !@article.published_at.nil?} Published
