#article.solo
	%span.date= (@article.published_at ? @article.published_at.strftime("%b %d, %Y") : "DRAFT")
	%h2.title
		%a{:href => "/articles/#{@article.url}"}= @article.title

	%p.intro= @article.introduction

	%article.body
		~BlueCloth.new(@article.body).to_html

	- if logged_in?
		%a{:href => "/articles/#{@article.url}/edit"} e
