%div.about
	%a{ :href => "http://www.flickr.com/photos/jordi_romero/4127896585/", :title => "Jordi Romero in Flickr" }
		%img{ :src => "http://farm3.static.flickr.com/2552/4127896585_2e490ac8f4_m.jpg", :alt => "Jordi Romero" }

	%p
		I'm a Computer Science Engineering student from
		%a{ :href=>"http://maps.google.es/maps?q=barcelona&oe=utf-8&ie=UTF8&hq=&hnear=Barcelona,+Catalunya&gl=es&ei=fakyS9GfCNOt4QbqgrmqCA&ved=0CAoQ8gEwAA&ll=41.387917,2.169919&spn=46.707501,61.347656&z=4", :title => "Barcelona in Google Maps" } Barcelona.
		I study in the
		%a{ :href => "http://www.fib.upc.edu/en.html", :title => "Barcelona School of Informatics" } Barcelona School of Informatics
		, or
		%acronym{ :title => "Facultat d'Informàtica de Barcelona" } FIB
		, as we call it. It belongs to the
		%a{ :href => "http://www.upc.edu/eng", :title => "UPC" } UPC
		, or BARCELONA
		%b TECH
		, as they like to call it now.

	%p
		While studing, I work as a software consultant with a more or less stable client porfolio. You can learn about my job at
		%a{ :href => "http://jrdv.org/", :title => "JRDV" } JRDV.

	%p	
		My first language is
		%a{ :href => "http://en.wikipedia.org/wiki/Catalan_language", :title =>"Catalan in the wikipedia" } Catalan
		, after that it comes Spanish, and then English. I also studied German in high school, and some Japanese a couple of years ago.

	%p
		In my job, and also as a hobby, I develop web applications, and I make it fun by using Ruby on Rails. I have more than 7 years of experience developing web applications with PHP and ASP. I really enjoy programming, and I always think "hey, that's a nice thought, let's blog it", but I rarely do.

	%p
		If you want to get in touch with me, please go to the
		%a{ :href => '/contact', :title => "Contact Jordi Romero" } contact
		page.
		