@import base.sass

#content
	+container
	margin-top: 20px
	font-size: 15px
	font-family: "Lucida Grande", "Lucida Sans", Helvetica, sans-serif
	h1
		font-size: 1.5em
		font-variant: small-caps

#header
	+column(18)
	margin-bottom: 40px
	padding-bottom: 5px
	border-bottom: 5px solid #d8d8d8
	a
		+column(5)
		text-align: right

#articles
	+no-bullets
	margin: 0

#article
	.head
		+column(18)
		clear: both
	.date
		font-size: 1.5em
		color: #777
		float: right
	h2.title
		+column(13)
		margin-bottom: 0
		font-weight: bold
		font-family: 'Helvetica', 'Arial', sans-serif
		letter-spacing: -0.05em
		line-height: 1em

	p.intro
		+column(13)
		margin-bottom: 20px

	div.info
		clear: both
		border-top: 1px solid #ddd
		border-bottom: 1px solid #ddd
		margin-bottom: 20px
		background-color: #eee
		color: #777
		padding: 0 20px
		font-size: 0.8em

		span.tag
			background-color: #333
			color: #fff
			padding: 0 5px
			margin-right: 5px
			-moz-border-radius: 5px
			-ms-border-radius: 5px
			-webkit-border-radius: 5px
			-khtml-border-radius: 5px

	div.body
		display: block
		clear: both

#header, #articles #article, h2
	a
		+hover-link
