@import base.sass

a
	color: #112233
	&:visited
		color: #112244
	&:hover
		color: #003344
	&:focus
		color: #333
	&:active
		color: #000

#content
	+container
	margin-top: 20px
	font-size: 15px
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif
	h1
		font-size: 3em
		font-variant: small-caps
		letter-spacing: -0.02em

#header
	+column(18)
	margin-bottom: 40px
	padding-bottom: 5px
	border-bottom: 5px solid #d8d8d8
	a
		text-align: right

#articles
	+no-bullets
	margin: 0

#article
	.head
		+column(18)
		clear: both
	.date
		font-size: 1.5em
		color: #777
		float: right
	h2.title
		+column(14)
		margin-bottom: 0
		letter-spacing: -0.03em
		line-height: 1em

	p.intro
		+column(13)
		margin-bottom: 20px

	div.info
		clear: both
		border-top: 1px solid #ddd
		border-bottom: 1px solid #ddd
		margin-bottom: 20px
		background-color: #eee
		color: #777
		padding: 4px 10px
		font-size: 0.8em

		ul.tags
			float: right
			+horizontal-list
			li
				background-color: #666
				a
					color: #fff
					+hover-link
				padding: 0 5px
				margin-left: 10px
				-moz-border-radius: 5px
				-ms-border-radius: 5px
				-webkit-border-radius: 5px
				-khtml-border-radius: 5px

	div.body
		display: block
		clear: both

		blockquote
			border-left: 4px solid #d8d8d8
			margin-left: 0
			padding-left: 20px

		h1, h2, h3, h4, h5, h6
			margin-bottom: 0

#header, #articles #article, h2
	a
		+hover-link
